.row_container
{
    display: flex;
    flex-wrap: wrap;
}

.left_element, .right_element
{
    flex:50%;
}

form
{
    flex: 50%;
}

#content .info_container p {
    padding-left: 0;
}

.info_container {
    padding-left: 30px;
    padding-right: 30px;
}

/*#main_content h2 {
    text-align: center;
    margin-bottom: 30px;
}

#main_content > div {
    padding-top: 30px;
    padding-bottom: 30px;
}*/

