@media (min-width: 480px) and (max-width: 768px) { /* Screen tablet */
    /* ******************* */
    /*  GROUPE CARRE IMAGE */
    /* ******************* */

    .groupe_carre_image_texte_droite {
        justify-content: center;
    }

    /* ******************* */
    /*     CASE MESSAGE    */
    /* ******************* */

    .messagerie_message {
        width: 300px;
    }

    /* ******************* */
    /*     BALISE P FLEX   */
    /* ******************* */

    .balise_p_flex_33, .balise_form_flex_50 {
        flex-direction: column;
    }

    .balise_p_flex_33 > p {
        flex: 50%;
    }

    /* ******************* */
    /*        HEADER       */
    /* ******************* */

    #bloc_header, footer #bas_footer, #bloc_haut_footer {
        width: 100%;
        margin: 0 auto;
    }

    #nav_header li a i {
        display: flex;
    }

    #nav_header li a .nav_text {
        display: none;
    }

    /* ******************* */
    /*        SLIDE        */
    /* ******************* */

    #slide_haut {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* ******************* */
    /*         BODY        */
    /* ******************* */

    #content > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #content p {
        line-height: 1.3rem;
        /*font-size: 0.9rem;*/
    }

    #content h2 {
        font-size: 1.6rem;
        margin: 20px;
        padding: 0;
    }

    #container_principal {
        border: none;
        box-shadow: none;
    }

    /* ******************* */
    /*        FOOTER       */
    /* ******************* */

    #nav_footer {
        flex-direction: column;
        align-items: left;
    }

    #copyright {
        order: 3;
        font-size: 0.8rem;
    }

    #copyright, #reseaux_sociaux, #drapeaux {
        margin: auto;
    }

    #bas_footer {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0 10px 0;
    }

    #div_logo_blanc_domisep {
        margin-left: 30px;
    }

    #bas_footer p {
        margin: 0;
    }

    /* ******************* */
    /*      CONNEXION      */
    /* ******************* */

    #bloc_connexion {
        padding: 10px 30px 10px 30px;
    }

    /* ******************* */
    /*     MON PROFIL      */
    /* ******************* */

    #derniere_connexion {
        margin: 0;
    }

    #mes_utilisateurs {
        flex-direction: column;
    }

    /* ******************* */
    /*     MES FACTURES    */
    /* ******************* */

    table{
        max-width: 301px;
    }
    .cell_table{
        display: inline-table;
    }
}