@media (min-width: 992px) { /* Screen large desktop */

    /* ******************* */
    /*        HEADER       */
    /* ******************* */

    #bloc_header, #bas_footer, #bloc_haut_footer {
        width: 1000px;
        margin: 0 auto;
    }

    #nav_header li {
        font-size: 1.2rem;
    }

    #nav_header li:last-child {
        padding-right: 10px;
    }

    /* ******************* */
    /*      CONNEXION      */
    /* ******************* */

    #container_connexion {
        width: 700px;
    }
}