/** {
    border: 1px solid red;
}*/

*:not(#slide_circle):not(.rond_image):not(.carre_image) {
    box-sizing: border-box; /* Pour les paragraphes côte à côte comme sur mon_profil sauf les images en cercle et en carré */
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
}

img {
    width: 100%;
}

h2 {
    color: #ff9800;
}

h3 {
    text-align: center;
}

hr {
    border-top: 1px solid #e3e3e3
}

.texte_vert {
    color: #81c784;
}

.texte_orange {
    color: #ff9800;
}

.texte_gris {
    color: #9f9f9f;
}

.texte_rouge {
    color: #f05545;
}

.texte_gras {
    font-weight: bold;
}

/* ******************* */
/*     LABEL INPUT     */
/* ******************* */

input:focus {
        outline: none;
    }

.label_input {
    display: flex;
    width: 200px;
    margin: 10px 0 30px 0;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    color: #9f9f9f;

    -webkit-transition: border 1s ease-in;
    -moz-transition: border 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: border 1s ease-in;
}

.label_input:focus {
    border-color: #ff9800;
}

/* ******************* */
/*     Textarea INPUT  */
/* ******************* */
.textarea_input {
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px 0 30px 0;

    border: 1px solid #e3e3e3;
    color: #9f9f9f;

    -webkit-transition: border 1s ease-in;
    -moz-transition: border 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: border 1s ease-in;
}

.textarea_input:focus {
    border-color: #ff9800;
}

/* ******************* */
/*     LABEL RADIO     */
/* ******************* */

.label_radio {
    display: flex;
    margin-top: auto;
}

.input_radio input {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ******************* */
/*     SELECT FORM     */
/* ******************* */

select:focus {
    outline: none;
}

select {
    padding: 10px 0 10px 0;
    margin: 10px 30px 10px 30px;
    border-color: #e3e3e3;
}

.groupe_select {
    display: flex;
    flex-wrap: wrap;
}

.rond_image_txt .div_select {
    margin-left: auto;
    margin-right: auto;
}

.rond_image_txt .div_select select {
    margin-top: 0;
    margin-bottom: 30px;
}

/* ******************* */
/*       CHECKBOX      */
/* ******************* */

.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    margin-top: 5px;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #e3e3e3;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #81c784;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.container_checkbox_label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ******************* */
/*     BOUTON GRIS     */
/* ******************* */

.bouton_vert.bouton_gris a {
    background-color: #607d8b;
}

.bouton_vert.bouton_gris a:hover {
    background-color: #8eacbb;
}

/* ******************* */
/*     BOUTON VERT     */
/* ******************* */

.bouton_vert {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}

.bouton_vert a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px 10px 10px;
    background-color: #81c784;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e3e3e3;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton_vert a:hover {
    background-color: #b2fab4;
}

.material-icons {
    vertical-align: middle;
    padding-bottom: 3px;
    padding-right: 3px;
}

.groupe_bouton_vert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

/* ******************* */
/*      LIEN VERT      */
/* ******************* */

.lien_vert a {
    color: #81c784;
    text-decoration: none;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.lien_vert a:hover {
    color: #b2fab4;
}

/* ********************* */
/*  LIEN NOIR UNDERLINE  */
/* ********************* */

#lien_noir_underline a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

#lien_noir_underline a:hover {
    text-decoration: underline;
}

/* ******************* */
/*     CARRE IMAGE     */
/* ******************* */

.carre_image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    width: 175px;
    height: 175px;
    border: 4px solid #81c784;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.carre_image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /* On décale l'image avec left et top puis translate pour la mettre au milieu */

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.carre_image:hover img {
    height: 120%;
    opacity: 0.8;
}

.carre_image img.portrait { /* Si l'image est orientée en vertical */
    width: 100%;
    height: auto;
}

.carre_image:hover img.portrait {
    width: 120%;
    height: auto;
}

.carre_image p {
    margin: 0;
    color: white;
}

.bandeau_bas, .bandeau_bas_red {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
}

.carre_image .bandeau_bas {
    padding: 5px 0 5px 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.carre_image .bandeau_bas.red {
    background-color: #f05545;
    opacity: 0.7;
}

.carre_image.red {
    border: 4px solid #f05545;
}

/* ******************* */
/*  GRAND CARRE IMAGE  */
/* ******************* */

.grand_carre_image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grand_carre_image .carre_image {
    width: 250px;
    height: 250px;
}

.grand_carre_image .carre_image {
    margin: 15px 30px 15px 30px;
}

/* ******************* */
/*  GROUPE CARRE IMAGE */
/* ******************* */

.groupe_carre_image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.groupe_grand_carre_image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.groupe_carre_image .carre_image {
    margin: 15px 30px 15px 30px;
}

/* ******************* */
/*  GCI + TEXTE DROIT  */
/* ******************* */

.groupe_carre_image_texte_droite {
    display: flex;
    flex-wrap: wrap;
}

.texte_droite_cgi {
    margin-top: auto;
    margin-bottom: auto;
}

.texte_droite_cgi .p_padding_top {
    padding-top: 20px;
}

.texte_droite_cgi ul {
    margin-left: 30px;
}

/* ******************* */
/*    TEXTE ALERTE     */
/* ******************* */

#capteurs_deficients {
    text-align: center;
}

/* ******************* */
/*      ROND IMAGE     */
/* ******************* */

.rond_image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #81c784;
    background-color: black;
    position: relative;
    overflow: hidden;
    /*background-image: url('../images/gilbert.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.rond_image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.rond_image:hover img {
    height: 120%;
    opacity: 0.8;
}

.rond_image img.portrait {
    width: 100%;
    height: auto;
}

.rond_image:hover img.portrait {
    width: 120%;
    opacity: 0.8;
}

/* ********************* */
/* GROUPE ROND IMAGE TXT */
/* ********************* */

.groupe_rond_image_txt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.groupe_rond_image_txt p {
    text-align: center;
    justify-content: center;
}

.rond_image_txt {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.titre_rond_image {
    font-size: 1.3em;
}

/* ******************* */
/*   PETIT ROND IMAGE  */
/* ******************* */

.rond_image.petit_rond {
    width: 75px;
    height: 75px;
    border: 2px solid #81c784;
    margin: inherit;
}

/* ******************* */
/* MATERIAL ICON EDIT  */
/* ******************* */

.container_edit_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.material-icons_edit {
    position: absolute;
}

.material-icons_edit a {
    color: white;
}

.material-icons_edit:hover a {
    color: #81c784;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.material-icons_edit i {
    font-size: 50px;
}

/* ******************* */
/*  OPACITY EDIT IMAGE */
/* ******************* */

.opacity_edit_image img, .opacity_edit_image:hover img { /* On enlève les transitions et les zooms pour l'edit */
    opacity: 0.3;
    height: 100%;
    width: auto;

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

.opacity_edit_image img.portrait, .opacity_edit_image:hover img.portrait {
    opacity: 0.3;
    height: auto;
    width: 100%;

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

/* ******************* */
/*     CASE MESSAGE    */
/* ******************* */

.case_message a {
    color: #000000;
    text-decoration: none;
}

.case_message {
    display: flex;
    flex-direction: row;
    border: 1px solid #e3e3e3;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.case_message + div {
    padding: 10px;
}

.case_message.nouveau_message {
    padding: 10px;
    background-color: #e3e3e3;
}

.case_message.nouveau_message:hover {
    /*background-color: #9e9e9e;*/

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.prenom_nom_date {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.prenom_nom_date p {
    margin-top: 0;
}

.informations_message p, .informations_message_date_supprimer p {
    margin: 0;
    align-items: center;
}

.informations_message {
    margin-right: auto;
}

.messagerie_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 600px;
}

.informations_message_date_supprimer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#content .informations_message_date_supprimer p {
    padding: 0;
}

.messagerie_date p {
    margin: 0;
}

.messagerie_delete {
    margin-top: auto;
}

/* ******************* */
/*     P & FORM FLEX   */
/* ******************* */

.balise_p_flex, .balise_p_flex_50, .balise_p_flex_33, .balise_form_flex_50, .balise_form_flex_33 {
    display: flex;
    flex-wrap: wrap;
}

.balise_p_flex > p, .balise_p_flex_50 > p, .balise_form_flex_50 > div {
    flex: 50%;
}

.balise_p_flex_33 > p, .balise_form_flex_33 > form {
    flex: 33%;
}

.balise_p_flex > p:first-child {
    flex: 100%;
}

.balise_form_flex_50, .balise_form_flex_50.form_flex_edit, .balise_form_flex_33 {
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* ******************* */
/*        INDEX        */
/* ******************* */

.index_div {
    position: relative;
    display: flex;

    height: 300px;
}

.index_div_66 {
    width: 66.66666667%;
    max-height: 300px;
}

.index_div_33 {
    width: 33.33333333%;
}

.index_div_66, .index_div_33 {
    position: relative;
    overflow: hidden;
}

.index_div_33 img {
    position: absolute;
    height: 100%;
    width: auto;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index_div_33 img {
    width: 100%;
}

/* ******************* */
/*        HEADER       */
/* ******************* */

header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bloc_header {
    display: flex;
}

#div_logo_domisep {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;
    width: 200px;
    height: 80px;
}

#nav_header {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 0; /* Nécessaire lorsque la résolution se réduit */
}

#nav_header li {
    display: flex;
    border-right: 1px solid #e3e3e3;
    padding: 0 10px;
}

#nav_header li a i {
    display: none; /* Enlever les icônes en grande résolution */
}

#nav_header li:last-child {
    border-right: none;
}

#nav_header a {
    text-decoration: none;
    color: #ff9800;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#nav_header a:hover {
    color: #ffc947;
}

#nav_header a:hover span.texte_vert {
    color: #b2fab4; /*Tous les span qui contiennent la class texte_vert ET qui sont des liens:hover de nav_header */
}

/* ******************* */
/*        SLIDE        */
/* ******************* */

#slide_accueil {
    width: 100%;
    height: 370px;
    background-image: url("../images/banniere_accueil_fun.jpg");
    background-repeat: no-repeat;
}

#slide_circle {
    margin: auto;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid white;
    background-color: black;
    position: relative;
    overflow: hidden;
}

#slide_circle img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#slide_circle img.portrait {
    width: 100%;
    height: auto;
}

#slide_accueil {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#slide_accueil p {
    margin: 0;
    color: white;
}

#slide_haut {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
}

#slide_bas {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: auto;*/
}

#slide_bas p {
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

#derniere_connexion {
    margin-right: auto;
}

#derniere_connexion, #date_inscription {
    padding: 10px 10px 10px 10px;
}

#prenom_nom {
    font-weight: bold;
    font-size: 1.8em;
}

#prenom_nom p {
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

#numero_client {
    font-weight: bold;
}

/* ******************* */
/*         BODY        */
/* ******************* */

.container_index {
    width: 1000px;
    margin: 0 auto;
}

#content .container_index p {
    text-align: center;
}

#content h2 {
    text-align: center;
    margin-bottom: 30px;
}

#content p {
    padding: 0 30px 0 30px;
    line-height: 1.5em;
}

#content > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#container_principal {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    box-shadow: 5px 5px 5px #e3e3e3;
    padding-bottom: 10px;
}

#bloc_content, .bloc_content_index {
    display: flex;
}

/* ******************* */
/*        FOOTER       */
/* ******************* */

#haut_footer {
    background: #ff9800;
}

#bas_footer, #bloc_haut_footer {
    display: flex;
}

#bloc_haut_footer {
    margin: 0 30px 0 30px;
}

#div_logo_blanc_domisep {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 30px;
    width: 130px;
}

#nav_footer {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

#nav_footer li {
    margin-right: 30px;
}

#nav_footer li:last-child {
    margin-right: 30px;
}

#nav_footer a {
    color: #fff;
    text-decoration: none;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#nav_footer a:hover {
    color: #e3e3e3;
}

#reseaux_sociaux {
    display: flex;
    margin-right: auto;
    margin-left: 50px;
    align-items: center;
    width: 80px;
}

#copyright {
    display: flex;
    margin-right: auto;
    align-items: center;
}

#drapeaux {
    display: flex;
    margin-right: 50px;
    align-items: center;
    width: 80px;
}

#drapeaux_francais, #drapeaux_anglais {
    width: 30px;
    margin: auto;
}

#facebook_footer, #drapeaux_francais {
    margin-right: 5px;
}