<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Definition of the viewport for a mobile screen -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/screen_large_desktop.css" media="(min-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_desktop.css" media="(min-width: 768px) and (max-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_tablet.css" media="(min-width: 480px) and (max-width: 768px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_phone.css" media="(max-width: 480px)"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Editer Mon Profil</title>
</head>

<body>

<div id="bloc_page">
    <header>
        <div id="bloc_header">
            <div id="div_logo_domisep">
                <img src="../../assets/images/domisep_logo.png" alt="logo_domisep">
            </div>

            <ul id=nav_header>
                <li><a href="../../../index_logged.html"><i class="material-icons">home</i><span class="nav_text">Accueil</span></a></li>
                <li><a href="mon_profil.html"><i class="material-icons">account_circle</i><span class="nav_text">Mon profil</span></a></li>
                <li><a href="gerer_mon_domicile/gerer_mon_domicile.html"><i class="material-icons">domain</i><span class="nav_text">Gérer mon dom<span class="texte_vert" >icile</span></span></a></li>
                <li><a href="../messagerie/messagerie.html"><i class="material-icons">message</i><span class="nav_text">Messagerie</span></a></li>
                <li><a href="../../../index.html"><i class="material-icons">power_settings_new</i><span class="nav_text">Me déconnecter</span></a></li>
            </ul>
        </div>
    </header>

    <div id="slide_accueil">
        <div id="slide_haut">
            <div id="derniere_connexion">
                <p>Dernière connexion : JJ/MM/AAAA à HH:MM</p>
            </div>

            <div id="date_inscription">
                <p>Date d'inscription : JJ/MM/AAAA</p>
            </div>
        </div>

        <div class="container_edit_image">
            <div id="slide_circle" class="opacity_edit_image">
                <img src="../../assets/images/unknown.jpg" alt="unknown">
            </div>

            <div class="material-icons_edit">
                <a href="#"><i class="material-icons">edit</i></a>
            </div>
        </div>

        <div id="slide_bas">
            <div id="prenom_nom">
                <p>Prénom NOM</p>
            </div>

            <div id="numero_client">
                <p>N° client XXXXX</p>
            </div>
        </div>
    </div>

    <section id="content">
        <div id="bloc_content">
            <div id="container_principal">
                <h2>Editer mon profil</h2>

                    <div class="balise_form_flex_50 form_flex_edit">
                        <form class="input_radio">
                            <label class="label_radio">Civilité </label>
                            <input title="gender" type="radio" name="gender" checked="checked"> <label >M.</label>
                            <input title="gender" type="radio" name="gender"> <label>Mme.</label>
                            <input title="gender" type="radio" name="gender"> <label>Autre</label>
                        </form>

                        <form>
                            <label>Adresse </label>
                            <input title="address" type="text" name="Adresse" value="XX Avenue de France" class="label_input">
                        </form>

                        <form>
                            <label>Prénom </label>
                            <input title="first_name" type="text" name="first_name" value="Jean" class="label_input">
                        </form>

                        <form>
                            <label>Code postal </label>
                            <input title="postal_code" type="text" name="postal_code" value="75001" class="label_input">
                        </form>

                        <form>
                            <label>Nom </label>
                            <input title="last_name" type="text" name="last_name" value="Dupont" class="label_input">
                        </form>

                        <form>
                            <label>Ville </label>
                            <input title="city" type="text" name="city" value="Paris" class="label_input">
                        </form>


                        <form>
                            <label>Date de naissance </label>
                            <input title="date_of_birth" type="date" name="date_of_birth" value="1984-02-06" class="label_input">
                        </form>

                        <form>
                            <label>Pays </label>
                            <input title="country" type="text" name="country" value="France" class="label_input">
                        </form>

                        <form>
                            <label>Email </label>
                            <input title="email" type="email" name="email" value="jean.dupont@gmail.com" class="label_input">
                        </form>

                        <form>
                            <label>Numéro de téléphone </label>
                            <input title="telephone_number" type="tel" name="telephone_number" value="0605040302" class="label_input">
                        </form>

                        <form>
                            <label>Email de secours </label>
                            <input title="second_mail" type="email" name="second_mail" value="jdupnt@hotmail.fr" class="label_input">
                        </form>

                        <form>
                            <label>Fax </label>
                            <input title="Fax_number" type="tel" name="Fax_number" value="0102030405" class="label_input">
                        </form>
                    </div>


                <div class="groupe_bouton_vert">
                    <div class="bouton_vert">
                        <a href="mon_profil.html"><i class="material-icons">save</i>Valider</a>
                    </div>

                    <div class="bouton_vert bouton_gris">
                        <a href="mon_profil.html"><i class="material-icons">undo</i>Retour</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div id="haut_footer">
            <div id="bloc_haut_footer">
                <div id="div_logo_blanc_domisep">
                    <img src="../../assets/images/domisep_logo_blanc.png" alt="logo_domisep_blanc"/>
                </div>

                <ul id="nav_footer">
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">On parle de nous</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </div>
        </div>

        <div id="bas_footer">
            <div id="reseaux_sociaux">
                <div id="facebook_footer">
                    <a href="#"><img src="../../assets/images/facebook_footer.png" alt="Facebook"/></a>
                </div>
                <div id="twitter_footer">
                    <a href="#"><img src="../../assets/images/twitter_footer.png" alt="Twitter"/></a>
                </div>
            </div>

            <div id=copyright>
                <p>&#9400; 2017 Domisep. Tous droits réservés.</p>
            </div>

            <div id="drapeaux">
                <div id ="drapeaux_francais">
                    <a href="#"><img src="../../assets/images/france.png" alt="Français"/></a>
                </div>
                <div id ="drapeaux_anglais">
                    <a href="#"><img src="../../assets/images/united-kingdom.png" alt="Anglais"/></a>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>