<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Definition of the viewport for a mobile screen -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/facture.css" />
    <link rel="stylesheet" href="../../assets/css/screen_large_desktop.css" media="(min-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_desktop.css" media="(min-width: 768px) and (max-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_tablet.css" media="(min-width: 480px) and (max-width: 768px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_phone.css" media="(max-width: 480px)"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Domisep - Mes Factures</title>
</head>

<body>
<div id="bloc_page">
    <header>
        <div id="bloc_header">
            <div id="div_logo_domisep">
                <img src="../../assets/images/domisep_logo.png" alt="logo_domisep">
            </div>

            <ul id=nav_header>
                <li><a href="../../../index_logged.html"><i class="material-icons">home</i><span class="nav_text">Accueil</span></a></li>
                <li><a href="mon_profil.html"><i class="material-icons">account_circle</i><span class="nav_text">Mon profil</span></a></li>
                <li><a href="gerer_mon_domicile/gerer_mon_domicile.html"><i class="material-icons">domain</i><span class="nav_text">Gérer mon dom<span class="texte_vert" >icile</span></span></a></li>
                <li><a href="messagerie.html"><i class="material-icons">message</i><span class="nav_text">Messagerie</span></a></li>
                <li><a href="../../../index.html"><i class="material-icons">power_settings_new</i><span class="nav_text">Me déconnecter</span></a></li>
            </ul>
        </div>
    </header>

    <div id="slide_accueil">

        <div id="slide_circle">
            <img src="../../assets/images/unknown.jpg" alt="unknown">
        </div>

        <div id="slide_bas">
            <div id="prenom_nom">
                <p>Prénom NOM</p>
            </div>

            <div id="numero_client">
                <p>N° client XXXXX</p>
            </div>
        </div>
    </div>

    <section id="content">
        <div id="bloc_content">
            <div id="container_principal">

                <h2>Relevé des factures mensuelles</h2>

                <table>
                    <tr class="row_table">
                        <td class="cell_table">
                            <p>Janvier</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Février</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Mars</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Avril</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="row_table">
                        <td class="cell_table">
                            <p>Mai</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Juin</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Juillet</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table"
                        ><p>Aout</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="row_table">
                        <td class="cell_table">
                            <p>Septembre</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Octobre</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Novembre</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                        <td class="cell_table">
                            <p>Décembre</p>
                            <div class="image_tableau">
                                <a href="#"><img src="../../../view/assets/images/pdf.png"></a>
                            </div>
                        </td>
                    </tr>
                </table>

                <div id="bloc_date_prelevement">
                    <p id="titre_prelevement"> Date du prochain prélevement</p>
                    <p id="date_prelevement">jj/mm/aaaa</p>
                </div>

                <div class="bouton_vert bouton_gris">
                    <a href="mon_profil.html"><i class="material-icons">undo</i>Retour</a>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>
