<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Definition of the viewport for a mobile screen -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/screen_large_desktop.css" media="(min-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_desktop.css" media="(min-width: 768px) and (max-width: 992px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_tablet.css" media="(min-width: 480px) and (max-width: 768px)"/>
    <link rel="stylesheet" href="../../assets/css/screen_phone.css" media="(max-width: 480px)"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Domisep - Mon Profil</title>
</head>

<body>
<div id="bloc_page">
    <header>
        <div id="bloc_header">
            <div id="div_logo_domisep">
                <img src="../../assets/images/domisep_logo.png" alt="logo_domisep">
            </div>

            <ul id=nav_header>
                <li><a href="../../../index_logged.html"><i class="material-icons">home</i><span class="nav_text">Accueil</span></a></li>
                <li><a href="mon_profil.html"><i class="material-icons">account_circle</i><span class="nav_text">Mon profil</span></a></li>
                <li><a href="gerer_mon_domicile/gerer_mon_domicile.html"><i class="material-icons">domain</i><span class="nav_text">Gérer mon dom<span class="texte_vert" >icile</span></span></a></li>
                <li><a href="../messagerie/messagerie.html"><i class="material-icons">message</i><span class="nav_text">Messagerie</span></a></li>
                <li><a href="../../../index.html"><i class="material-icons">power_settings_new</i><span class="nav_text">Me déconnecter</span></a></li>
            </ul>
        </div>
    </header>

    <div id="slide_accueil">
        <div id="slide_haut">
            <div id="derniere_connexion">
                <p>Dernière connexion : JJ/MM/AAAA à HH:MM</p>
            </div>

            <div id="date_inscription">
                <p>Date d'inscription : JJ/MM/AAAA</p>
            </div>
        </div>

        <div id="slide_circle">
            <img src="../../assets/images/unknown.jpg" alt="unknown">
        </div>

        <div id="slide_bas">
            <div id="prenom_nom">
                <p>Prénom NOM</p>
            </div>

            <div id="numero_client">
                <p>N° client XXXXX</p>
            </div>
        </div>
    </div>

    <section id="content">
        <div id="bloc_content">
            <div id="container_principal">

                <h2>Identité de l'utilisateur principal</h2>

                <div class="balise_p_flex">
                    <p>Civilité : <span class="texte_gris">M.</span></p>
                    <p>Prénom : <span class="texte_gris">Prénom</span></p>
                    <p>Nom : <span class="texte_gris">Nom</span></p>
                    <p>Date de naissance : <span class="texte_gris">JJ/MM/AAAA</span></p>
                </div>

                <h2>Adresse de facturation</h2>

                <div class="balise_p_flex_50">
                    <p>Adresse : <span class="texte_gris">XX Avenue de France</span></p>
                    <p>Ville : <span class="texte_gris">Ville</span></p>
                    <p>Code Postal : <span class="texte_gris">XXXXX</span></p>
                    <p>Pays : <span class="texte_gris">France</span></p>
                </div>

                <h2>Contact</h2>

                <div class="balise_p_flex_50">
                    <p>Email : <span class="texte_gris">prenom.nom@mail.com</span></p>
                    <p>Email de secours : <span class="texte_gris">prenom.nom@mail.com</span></p>
                    <p>Téléphone portable : <span class="texte_gris">0102030405</span></p>
                    <p>Fax : <span class="texte_gris">0102030405</span></p>
                </div>

                <div class="groupe_bouton_vert">
                    <div class="bouton_vert">
                        <a href="#"><i class="material-icons">perm_identity</i>Editer</a>
                    </div>

                    <div class="bouton_vert">
                        <a href="#"><i class="material-icons">shopping_cart</i>Mon abonnement</a>
                    </div>

                    <div class="bouton_vert">
                        <a href="facture.html"><i class="material-icons">insert_drive_file</i>Mes factures</a>
                    </div>
                </div>

                <hr>

                <h2>Mes utilisateurs</h2>

                <div class="groupe_rond_image_txt">
                    <div class="rond_image_txt">
                        <div class="rond_image">
                            <img src="../../assets/images/gilbert.jpg" alt="unknown">
                        </div>

                        <div class="titre_rond_image">
                            <p>Gigi</p>
                        </div>

                        <div class="texte_gris">
                            <p>Accès total</p>
                        </div>
                    </div>

                    <div class="rond_image_txt">
                        <div class="rond_image">
                            <img src="../../assets/images/avatar_user_1.jpg" alt="unknown">
                        </div>

                        <div class="titre_rond_image">
                            <p>Van-Kévin Suy</p>
                        </div>

                        <div class="texte_gris">
                            <p>Accès total</p>
                        </div>
                    </div>

                    <div class="rond_image_txt">
                        <div class="rond_image">
                            <img src="../../assets/images/lucas.jpg" class="portrait" alt="unknown">
                        </div>

                        <div class="titre_rond_image">
                            <p>Lucas Quéant</p>
                        </div>

                        <div class="texte_gris">
                            <p>Accès limité</p>
                        </div>
                    </div>
                </div>

                <div class="bouton_vert">
                    <a href="#"><i class="material-icons">supervisor_account</i>Editer</a>
                </div>

                <hr>

                <h2>Mes coordonnées bancaires</h2>

                <div class="balise_p_flex_50">
                    <p>Titulaire du compte : <span class="texte_gris">M. Prénom Nom</span></p>
                    <p>Numéro de carte : <span class="texte_gris">**** **** **** 4758</span></p>
                    <p>Cryptogramme : <span class="texte_gris">***</span></p>
                    <p>Date d'expiration : <span class="texte_gris">**/**</span></p>
                    <p>IBAN : <span class="texte_gris">FR76 **** **** **** **** **52 236</span></p>
                </div>

                <div class="bouton_vert">
                    <a href="#"><i class="material-icons">credit_card</i>Editer</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="haut_footer">
            <div id="bloc_haut_footer">
                <div id="div_logo_blanc_domisep">
                    <img src="../../assets/images/domisep_logo_blanc.png" alt="logo_domisep_blanc"/>
                </div>

                <ul id="nav_footer">
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">On parle de nous</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </div>
        </div>

        <div id="bas_footer">
            <div id="reseaux_sociaux">
                <div id="facebook_footer">
                    <a href="#"><img src="../../assets/images/facebook_footer.png" alt="Facebook"/></a>
                </div>
                <div id="twitter_footer">
                    <a href="#"><img src="../../assets/images/twitter_footer.png" alt="Twitter"/></a>
                </div>
            </div>

            <div id=copyright>
                <p>&#9400; 2017 Domisep. Tous droits réservés.</p>
            </div>

            <div id="drapeaux">
                <div id ="drapeaux_francais">
                    <a href="#"><img src="../../assets/images/france.png" alt="Français"/></a>
                </div>
                <div id ="drapeaux_anglais">
                    <a href="#"><img src="../../assets/images/united-kingdom.png" alt="Anglais"/></a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
