/* ******************* */
/* GERER MON DOMICILE  */
/* ******************* */

/* ******************* */
/*         BODY        */
/* ******************* */

#mes_domiciles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mes_domiciles .carre_image {
    margin: 15px 30px 15px 30px;
}