/* ******************* */
/*        INDEX        */
/* ******************* */

#bloc_a_propos, #bloc_pourquoi_domisep, #bloc_nos_solutions, #bloc_content {
    display: flex;
}

#bloc_pourquoi_domisep {
    background: #e3e3e3;
}

#content p {
    text-align: justify;
}