#slide_accueil {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#slide_haut {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
}

#slide_bas {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 215px;
    margin: auto;
}

#slide_bas p {
    padding-bottom: 10px;
}

#derniere_connexion {
    margin-right: auto;
}

#derniere_connexion, #date_inscription {
    padding: 10px 10px 10px 10px;
}

#slide_accueil p {
    margin: 0;
    color: white;
}

#slide_bas p {
    background-color: rgba(0, 0, 0, 0.7);
}

#prenom_nom {
    font-weight: bold;
    font-size: 1.8em;
}

#numero_client {
    font-weight: bold;
}
