/* ******************* */
/*      MON PROFIL     */
/* ******************* */

/* ******************* */
/*         BODY        */
/* ******************* */

#mes_utilisateurs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.utilisateur {
    margin: 0 30px 0 30px;
}

#mes_utilisateurs p {
    text-align: center;
    justify-content: center;
}

.prenom_nom_mes_utilisateurs {
    font-size: 1.3em;
}

.acces_utilisateurs {
    color: #9f9f9f;
}

