@media (min-width: 480px) and (max-width: 768px) { /* Screen tablet */

    /* ******************* */
    /*        HEADER       */
    /* ******************* */

    #bloc_header, footer #bas_footer, #bloc_haut_footer {
        width: 100%;
        margin: 0 auto;
    }

    #nav_header li a i{
        display:flex;
    }

    #nav_header li a .nav_text{
        display:none;
    }

    /* ******************* */
    /*         BODY        */
    /* ******************* */

    #content p{
        line-height: 1.3rem;
        font-size: 0.9rem;
    }

    #content h2{
        font-size:1.6rem;
        margin:20px;
        padding:0;
    }

    /* ******************* */
    /*        FOOTER       */
    /* ******************* */

    #nav_footer {
        flex-direction: column;
        align-items: left;
    }

    #copyright {
        order: 3;
        font-size:0.8rem;
    }

    #copyright, #reseaux_sociaux, #drapeaux {
        margin: auto;
    }

    #bas_footer {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0 10px 0;
    }

    #div_logo_blanc_domisep {
        margin-left: 30px;
    }

    #bas_footer p {
        margin: 0;
    }
}