/** {
	border: 1px solid red
}*/

body {
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

img {
	width: 100%;
}

h2 {
	color: #ff9800;
}

/* ******************* */
/*        HEADER       */
/* ******************* */

header {
	display: flex;
/*	justify-content: flex-end;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#div_logo_domisep {
	display: flex;
	align-items: center;
 	margin-right: auto; 
 	margin-left: 50px;
 	width: 200px;
	height:80px;
}

#nav_header {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 50px; 
}

#nav_header li {
    display: flex;
    border-right: 1px solid #e3e3e3;
    padding: 0 10px; /* 0 hauteur et 10 largeur */ 
}

#nav_header li a i{
	display:none;
}

#nav_header li:last-child {
	border-right: none;
}

#nav_header a {
	text-decoration: none;
	color: #ff9800;
}

#nav_header a:hover {
	color: #ffc947;
}

.texte_vert {
	color: #81c784;
}

#nav_header a:hover span.texte_vert { /*Tous les span qui contiennent la class texte_vert ET qui sont des liens:hover de nav_header */
	color: #b2fab4;
}

/* ******************* */
/*        SLIDE        */
/* ******************* */

#slide_accueil {
	height: 10%;
	width: 100%;
	overflow: hidden;
}

/* ******************* */
/*       CONTENT       */
/* ******************* */

.container {
	width: 1000px;
	margin: 0 auto; /* margin 0 top et auto pour le reste (bottom, left, right). 0 pour prévoir si container est dans une autre div avec une hauteur définie */
}

#bloc_a_propos, #bloc_pourquoi_domisep, #bloc_nos_solutions {
	display: flex;
}

#bloc_pourquoi_domisep {
	background: #e3e3e3;
}

#content h2 {
	text-align: center;
	margin-bottom: 30px;
}

#content p {
	text-align: justify;
	padding: 0 30px 0 30px;
}

#content > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ******************* */
/*        FOOTER       */
/* ******************* */

#haut_footer {
	display: flex;
	background: #ff9800;
}

#bas_footer {
	display: flex;
	justify-content: flex-end;
}

#div_logo_blanc_domisep {
	display: flex;
	align-items: center;
 	margin-right: auto; 
 	margin-left: 50px;
 	width: 130px;
}

#nav_footer{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#nav_footer li {
    margin-right: 50px;
}

#nav_footer a {
	color: #fff;
	text-decoration: none;
}

#nav_footer a:hover {
	color: #e3e3e3;
}

#reseaux_sociaux {
	display: flex;
 	margin-right: auto; 
 	margin-left: 50px;
 	align-items: center;
 	width: 50px;
}

#facebook_footer, #twitter_footer {
 	width: 30px;
 	margin:auto;
}

#copyright {
	display: flex;
	margin-right: auto;
	align-items: center;
}

#drapeaux {
	display: flex;
 	margin-right: 50px; 
 	align-items: center;
 	width: 50px;
}

#drapeaux_francais, #drapeaux_anglais {
 	width: 30px;
 	margin:auto;
}

#facebook_footer, #drapeaux_francais {
	margin-right: 5px;
}

/* ******************* */
/*    MEDIA QUERIES    */
/* ******************* */

@media (max-width: 1024px) {
	#nav_header li a i{
		display:flex;
	}

	#nav_header li a .nav_text{
		display:none;
	}

	#div_logo_domisep {
		margin-left: 10px;
	}

	#nav_header {
		margin-right: 10px;
	}

	#copyright {
		order: 3;
		font-size:0.8rem;
	}

	#copyright, #reseaux_sociaux, #drapeaux {
		margin: auto;
	}

	#bas_footer {
		flex-direction: column;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#bas_footer p {
		margin: 0;
	}
}

@media (min-width: 740px) and (max-width: 1024px) {
	#content p{
		line-height:1rem;
		font-size:0.9rem;
	}

	#content h2{
		font-size:1.6rem;
		margin:20px;
		padding:0;
	}

	#div_logo_blanc_domisep {
		margin-left: 30px;
	}

	#nav_footer li {
		margin-right: 25px;
		font-size:0.9rem;
	}

	#nav_footer li:last-child {
		margin-right: 30px;
	}
}

@media (max-width: 740px) {
	#content p{
		line-height:1rem;
		font-size:0.8rem;
	}

	#content h2{
		font-size:1.3rem;
		margin:10px;
		padding:0;
	}

	#nav_footer {
		flex-direction: column;
		align-items: left;
	}

	#nav_footer li {
		font-size:1em;
		line-height: 30px;
		margin-right: 30px;
	}

	#div_logo_blanc_domisep {
		width: 200px;
		margin: auto;
	}

}